@media only screen and (max-width: 480px) {
  .logo {
    padding-left: 1rem;
    font-size: 2rem;
  }
  .resNav {
    margin-top: 1rem;
    background-color: white;
  }
  .learnButton {
    font-size: medium;
    width: 10rem;
    padding: auto;
  }
  .heroText {
    font-size: xx-large;
  }
}
@media only screen and (max-width: 1024px) {
  .learnButton {
    font-size: medium;
    width: 10rem;
    padding: auto;
  }
  .heroText {
    font-size: xx-large;
  }
}

/* .scrollable-container {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  /* overflow: auto; */
  scrollbar-width: thin;
  scrollbar-color: #f29c0f transparent;
  -ms-overflow-style: none;

  border-radius: 10px;
}

.scrollable-container::webkit-scrollbar {
  width: 10rem; /* Decrease the width of the scrollbar */
  height: 110px; /* Decrease the height of the scrollbar */
  border-radius: 5px;
  scrollbar-width: 1px;
}
/* .scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
} */
.scrollable-container.scrollable-container::-webkit-scrollbar-arrow {
  display: none;
  height: 0;
  width: 0;
}
